body {
  background-image: url("library-book-bookshelf-read.jpeg");
  background-color: rgba(184, 184, 21, 0.184);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

header h1 {
  margin: 0;
  padding: 0;
  font-size: 48px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
}

      
/* Styling for sign-in form */
form {
  width: 450px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
}
      
/* Styling for forms field */
input[type=text], input[type=password] {
  font-size: 20px;
  font-weight: bold;
  width: 95%;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 3px;
}
      
/* Styling for submit button */
input[type=submit] {
  background-color: #252c75;
  color: white;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
      
/* Hover styling for button*/
input[type=submit]:hover {
  background-color:#17174a;
}

/* Styling for sign-up button */
input[type=register] {
  background-color: #252c75;
  width: 50px;
  color: white;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
      
/* Hover styling for sign-up button*/
input[type=register]:hover {
  background-color:#17174a;
}