body{
    background-color: rgba(184, 184, 21, 0.184);
}

header h1{
    margin-top: 10%;
    text-align: center;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /*This is important for positioning the arrow buttons*/
    margin-bottom: 10%;
}
  
  .arrow-button {
    position: absolute;
    /* chatgbt added the code below we can remove it completely once we get it looking perfect */
    /* top: 50%; */
    /* transform: translateY(-50%); */
    background-color: transparent;
    /* border: none; */
    cursor: pointer;
    
  }
  
  /* below puts space between arrow and image */
  .left-arrow {
   margin-right: 50%;
  }
  
  .right-arrow {
    margin-left:50%;
  }

  #yourLibrary{
    margin: 10px;
    text-align: center;

  }
  #yourLibrary:hover{
    cursor: pointer;
  }
  #friends{
    margin: 10px;
    text-align: center;

  }
  /* removes styling from friends link */
  #friends a{
    color: black;
    text-decoration: none;
  }

  .signout-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #252c75;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Hover styling for button*/
  .signin-button:hover {
    background-color: #17174a;
    cursor: pointer;
  }
  
  /* dropdown start */
   .library-content {
    max-height: 100%;
    /* below keeps book covers on the same line and allows scrolling when overflow */
    white-space: nowrap; 
    overflow-x: scroll;
    padding: 10px;
    /* display: none; */
  }
  
  .library-content img {
    display: inline;
    margin: auto;
    padding: 10px;
    max-width: 100%;
    height: 250px;
  }
  
  .add-button{
    background-color: transparent;
    color: black;

  }
  
 



